<div>
    <form action="/admin/update-product?productId=<%= product.id; %>" method="post">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <% if(message) { %>
                <h5 class="text-danger">
                    <%= message; %>
                </h5>
                <% }%>
                    <div class="row">
                        <div class="col-6">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" placeholder="type title"
                                value="<%= product.title; %>" />
                        </div>
                        <div class="col-6">
                            <label>Price</label>
                            <input type="number" name="price" class="form-control" placeholder="type price"
                                value="<%= product.price; %>" />
                        </div>
                        <div class="col-6">
                            <label>Quantity</label>
                            <input type="number" name="quantity" class="form-control" placeholder="type Quantity"
                                value="<%= product.quantity; %>" />
                                <% console.log("product", product)%>
                        </div>
                        <div class="col-6">
                            <label>category Id</label>
                            <select name="categoryId" class="form-control">
                                <option value="">Select product category</option>
                                <% for(let i=0; i < category.length; i++){ let cat=category[i]; %>
                                    <option <%=(product.category_id==cat.id) ? "selected='selected'" : "" ; %>
                                        value="<%= cat.id; %>"><%= cat.title; %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <div class="col-12 mt-2">
                            <label>Description</label>
                            <textarea name="description" class="form-control"
                                placeholder="type description"><%= product.description; %></textarea>
                        </div>
                        <div class="col-12 mt-2">
                            <label>Images</label>
                            <!-- <input type="file" name="productImages" class="form-control" multiple="multiple" /> -->
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>